#intro {
  padding: 4rem 1rem 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  font-style: italic;
  color: var(--aqua);
  display: block;
  font-weight: 300;
  /* Animation for fading in */
  animation: fadeIn 2s ease-in-out forwards;
}

/* Animation for a simple fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Additional animation for a simplified pixelate-to-clear effect */
@keyframes pixelateToClear {
  0% {
    filter: blur(5px); /* Start more pixelated */
    transform: scale(0.9); /* Optionally start smaller */
  }
  100% {
    filter: blur(0px); /* End clear */
    transform: scale(1); /* End at normal size */
  }
}